# **Groupby and Pivot w/ Pandas**

In [1]:
import pandas as pd

In [2]:
file = "Border_Crossing_Data_no_duplicates.csv"

In [3]:
df = pd.read_csv(file, parse_dates=['Date'])

In [4]:
df.head()

,Port Name,State,Port Code,Border,Date,Measure,Value
0,Alcan,AK,3104,US-Canada Border,2020-02-01,Personal Vehicle Passengers,1414
1,Alcan,AK,3104,US-Canada Border,2020-02-01,Personal Vehicles,763
2,Alcan,AK,3104,US-Canada Border,2020-02-01,Truck Containers Empty,412
3,Alcan,AK,3104,US-Canada Border,2020-02-01,Truck Containers Full,122
4,Alcan,AK,3104,US-Canada Border,2020-02-01,Trucks,545

In [10]:
df.describe(include='all')

,Port Name,State,Port Code,Border,Date,Measure,Value
count,355501,355501,355501.000000,355501,355501,355501,3.555010e+05
unique,116,15,NaN,2,290,12,NaN
top,Eastport,ND,NaN,US-Canada Border,2010-07-01 00:00:00,Personal Vehicles,NaN
freq,5753,58290,NaN,272834,1356,31420,NaN
first,NaN,NaN,NaN,NaN,1996-01-01 00:00:00,NaN,NaN
last,NaN,NaN,NaN,NaN,2020-02-01 00:00:00,NaN,NaN
mean,NaN,NaN,2454.017454,NaN,NaN,NaN,2.844372e+04
std,NaN,NaN,1201.899922,NaN,NaN,NaN,1.518782e+05
min,NaN,NaN,101.000000,NaN,NaN,NaN,0.000000e+00
25%,NaN,NaN,2304.000000,NaN,NaN,NaN,0.000000e+00
50%,NaN,NaN,3013.000000,NaN,NaN,NaN,1.000000e+02
75%,NaN,NaN,3402.000000,NaN,NaN,NaN,2.597000e+03
max,NaN,NaN,4105.000000,NaN,NaN,NaN,4.447374e+06

In [11]:
df['Port Code'].nunique()

117

**Let's filter the dataframe to only Texas data and then group by the Date and Port Name columns. We'll then take the sum of the value column.**

In [14]:
df_grouped = df.loc[df['State']=='TX'].groupby(['Date', 'Port Name'])
type(df_grouped)

pandas.core.groupby.generic.DataFrameGroupBy

In [15]:
df_grouped.head(15)

,Port Name,State,Port Code,Border,Date,Measure,Value
49,Boquillas,TX,2410,US-Mexico Border,2020-02-01,Pedestrians,3036
66,Brownsville,TX,2301,US-Mexico Border,2020-02-01,Bus Passengers,3072
67,Brownsville,TX,2301,US-Mexico Border,2020-02-01,Buses,469
68,Brownsville,TX,2301,US-Mexico Border,2020-02-01,Pedestrians,232880
69,Brownsville,TX,2301,US-Mexico Border,2020-02-01,Personal Vehicle Passengers,638585
...,...,...,...,...,...,...,...
355439,Brownsville,TX,2301,US-Mexico Border,1996-01-01,Trucks,19168
355446,Hidalgo,TX,2305,US-Mexico Border,1996-01-01,Personal Vehicles,487872
355455,Progreso,TX,2309,US-Mexico Border,1996-01-01,Rail Containers Full,0
355474,Hidalgo,TX,2305,US-Mexico Border,1996-01-01,Rail Containers Empty,0
355484,Presidio,TX,2403,US-Mexico Border,1996-01-01,Pedestrians,645

In [24]:
df_Texas_2019_PVP = df.loc[(df['State'] == 'TX') & (df['Date'].dt.year == 2019) & (df['Measure'] == 'Personal Vehicle Passengers')]
df_Texas_2019_PVP.tail(15)

,Port Name,State,Port Code,Border,Date,Measure,Value
10103,Del Rio,TX,2302,US-Mexico Border,2019-02-01,Personal Vehicle Passengers,232305
10105,Tornillo-Fabens,TX,2404,US-Mexico Border,2019-02-01,Personal Vehicle Passengers,61031
10161,Rio Grande City,TX,2307,US-Mexico Border,2019-02-01,Personal Vehicle Passengers,70541
10271,El Paso,TX,2402,US-Mexico Border,2019-02-01,Personal Vehicle Passengers,1616681
10391,Progreso,TX,2309,US-Mexico Border,2019-01-01,Personal Vehicle Passengers,246217
10538,Eagle Pass,TX,2303,US-Mexico Border,2019-01-01,Personal Vehicle Passengers,501254
10582,El Paso,TX,2402,US-Mexico Border,2019-01-01,Personal Vehicle Passengers,1825166
10656,Roma,TX,2310,US-Mexico Border,2019-01-01,Personal Vehicle Passengers,130070
10709,Hidalgo,TX,2305,US-Mexico Border,2019-01-01,Personal Vehicle Passengers,793981
10786,Rio Grande City,TX,2307,US-Mexico Border,2019-01-01,Personal Vehicle Passengers,71543
10943,Presidio,TX,2403,US-Mexico Border,2019-01-01,Personal Vehicle Passengers,135702
10968,Del Rio,TX,2302,US-Mexico Border,2019-01-01,Personal Vehicle Passengers,259872
11057,Laredo,TX,2304,US-Mexico Border,2019-01-01,Personal Vehicle Passengers,983776
11105,Tornillo-Fabens,TX,2404,US-Mexico Border,2019-01-01,Personal Vehicle Passengers,62957
11107,Brownsville,TX,2301,US-Mexico Border,2019-01-01,Personal Vehicle Passengers,844406

In [29]:
df_Texas_2019_PVP['Date'].value_counts()

2019-06-01    13
2019-07-01    11
2019-08-01    11
2019-09-01    11
2019-10-01    11
2019-11-01    11
2019-03-01    11
2019-04-01    11
2019-01-01    11
2019-02-01    11
2019-12-01    11
2019-05-01    11
Name: Date, dtype: int64

In [31]:
df_Texas_2019_PVP.loc[df_Texas_2019_PVP['Date'] == '2019-06-01']

,Port Name,State,Port Code,Border,Date,Measure,Value
6363,Del Rio,TX,2302,US-Mexico Border,2019-06-01,Personal Vehicle Passengers,238721
6518,Tornillo-Fabens,TX,2404,US-Mexico Border,2019-06-01,Personal Vehicle Passengers,70779
6524,Roma,TX,2310,US-Mexico Border,2019-06-01,Personal Vehicle Passengers,104640
6529,Rio Grande City,TX,2307,US-Mexico Border,2019-06-01,Personal Vehicle Passengers,60458
6535,Progreso,TX,2309,US-Mexico Border,2019-06-01,Personal Vehicle Passengers,194503
6541,Presidio,TX,2403,US-Mexico Border,2019-06-01,Personal Vehicle Passengers,120747
6552,Laredo,TX,2304,US-Mexico Border,2019-06-01,Personal Vehicle Passengers,850919
6560,Hidalgo,TX,2305,US-Mexico Border,2019-06-01,Personal Vehicle Passengers,668626
6572,El Paso,TX,2402,US-Mexico Border,2019-06-01,Personal Vehicle Passengers,1408249
6583,Eagle Pass,TX,2303,US-Mexico Border,2019-06-01,Personal Vehicle Passengers,507039
6591,Del Rio,TX,2302,US-Mexico Border,2019-06-01,Personal Vehicle Passengers,238721
6599,Brownsville,TX,2301,US-Mexico Border,2019-06-01,Personal Vehicle Passengers,783959
7134,Roma,TX,2310,US-Mexico Border,2019-06-01,Personal Vehicle Passengers,104640

In [27]:
df_Texas_2019_PVP.shape

(134, 7)

In [18]:
df_Texas_2019_PVP.pivot(index='Date', columns = 'Port Name', values = 'Value')

ValueError: Index contains duplicate entries, cannot reshape